<div class="center">
  <h1>DIABLO2 RESURRECTED TRADES</h1>

  <h2>EVIL HAS SURVIVED</h2>
  <%= image_tag('title.png', class:"img-fluid") %>
  <p>ディアブロ２:リザレクテッドのトレードサイトです</p>
  <p>会員登録をして、アイテムを登録しトレードしましょう</p>
  <%= link_to "登録する", "#", class: "btn btn-primary btn-lg" %>
</div>
