<% provide(:title, "Edit") %>
<% provide(:button_text, '変更を保存') %>
<h1>Update your profile</h1>
<div class="row">
  <div class="mx-auto col-md-6 item-contents">
    <%= render 'layouts/form' %>
  </div>
</div>