<% provide(:title, 'Sign up') %>
<% provide(:button_text, '登録する') %>
<h1>Sign up</h1>
<div class="row">
  <div class="mx-auto col-md-6 item-contents">
    <%= render 'layouts/form' %>
  </div>
</div>
</div>