<% provide(:title, @user.name) %>
<h1>My Page</h1>
<div class="row">
  <aside class="col-md-4 item-contents">
    <section class="user_info">
      <h3>
        <%= @user.name %>
      </h3>
    </section>
  </aside>
  <div class="col-md-7 offset-md-1 bg-secondary trades-contents">
    <% if @user.trades.any? %>
      <h3>Trades (<%= @user.trades.count %>)</h3>
        <%= render @trades %>
      <%= will_paginate(@trades, renderer: WillPaginate::ActionView::BootstrapLinkRenderer) %>
    <% end %>
  </div>
</div>