.balloon1-left {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 1.5rem auto 1.5rem 10px;
  padding: 14px 20px;
  max-width: 50%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 10px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

.balloon1-right {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 1.5rem 10px 1.5rem auto;
  padding: 14px 20px;
  max-width: 50%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 10px;
}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.balloon1-right p {
  margin: 0;
  padding: 0;
}

.round_btn {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #333; /* 枠の調整 */
  border-radius: 50%;  /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
}

.round_btn::before, .round_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #333; /* バツ印の色 */
}

.round_btn::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.round_btn::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}