@import url('https://fonts.cdnfonts.com/css/diablo');

//ミックスイン、変数など
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//全体

body {
  font-family: "Noto Sans", sans-serif;
}

.site-contents {
  background-image: image_url("background.jpeg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 15px;
}

.container {
  color: white;
  text-align: center;
  h1,h2{
    font-family: "Diablo", sans-serif;
    padding: 30px 0;
  }
}

.navbar {
  background-color: #393939;
}

.item-contents {
  padding: 10px;
  background-color: #727272;
  border-radius: 10px;
  margin: 10px 0;
}

.pagination {
  padding: 10px 0;
}


//フォーム

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  border-radius: 10px;
  background-color: #f8d7da;
  color: red;
  padding: 10px;
  .alert-danger {
    border-color: #f8d7da;
  }
  ul {
    color: red;
    list-style: none;
  }
}

.submit-buttons {
  margin: 15px 0;
  @include box_sizing;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

//ユーザー　インデックスページ

.users {
  list-style: none;
  margin: 0;
  text-align: left;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
  a {
    color: #fff3de;
    &:hover {
      color: #fff3de;
    }
  }
}

