@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/diablo');

//全体

body {
  font-family: 'Noto Sans JP', sans-serif;
}

//画面幅まで背景を広げる
.site-contents {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.container {
  color: white;
  text-align: center;
  h1,h2{
    font-family: 'Diablo', sans-serif;
    margin-bottom: 30px;
  }
}


.navbar {
  background-color: #393939;
}