.trade-icon {
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.card-footer-contents {
  display: flex;
  justify-content: space-between;
  .timestamp {
    color: darkgray;

    a {
      color: #fff3de;
      &:hover {
        color: #fff3de;
      }
    }
  }
  .delete-link {
    color: red;
    &:hover {
      color: red;
    }

  }
}