
.card-footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .timestamp {
    color: darkgray;

    a {
      color: #fff3de;
      &:hover {
        color: #fff3de;
      }
    }
  }
  .delete-link {
    color: red;
    &:hover {
      color: red;
    }

  }
}